<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css"/>
    <title>Home</title>
</head>
<body>
    <nav>
        <div class="logo"><img src="/assets/kd-logo.png" alt="KD 35 Logo" class="logo"></div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/gallery">Photo Gallery</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <h1>About</h1>
    <div id="about">
        <article id="college">
            <h2>College</h2>
            <h3>Team titles</h3>
            <ul>
                <li>1 year at Texas University</li>
            </ul>
            <h3>Individual titles</h3>
            <ul>
                <li>Nasimith College Player of the Year</li>
            </ul>
        </article>
        <article id="NBA">
            <h2>NBA</h2>
            <h3>Team titles</h3>
            <ul>
                <li>2016 - NBA Champion</li>
                <li>2017 - NBA Champion</li>
            </ul>
            <h3>Individual titles</h3>
            <ul>
                <li>1x MVP</li>
                <li>2x All-Star Game MVP</li>
                <li>2x Finals MVP</li>
                <li>12x All-Star</li>
            </ul>
        </article>
        <article id="national">
            <h2>National Team</h2>
            <h3>Olympics</h3>
            <ul>
                <li>2012 - Gold Medal 🥇</li>
                <li>2012 - Gold Medal 🥇</li>
                <li>2012 - Gold Medal 🥇</li>
            </ul>
            <h3>World Cup</h3>
            <ul>
                <li>2010 - Gold Medal 🥇</li>
            </ul>
        </article>
    </div>
</body>
</html>